In [29]:
import pandas as pd

file_1 = "AS218_variants.txt"
file_2 = "AS219_variants.txt"
column_names = ["Sample", "Chromosome", "Position", "Ref Allele", "Alt Allele", "Allele Frequency"]

df1 = pd.read_csv(file_1,sep="\t",header = None)
df2 = pd.read_csv(file_2,sep="\t",header = None)
dfs = pd.merge(df1,df2, on=2, how="outer")
dfs

,0_x,1_x,2,3_x,4_x,5_x,0_y,1_y,3_y,4_y,5_y
0,AS218,NZ_CP020397.1,27,T,C,0.006667,NaN,NaN,NaN,NaN,NaN
1,AS218,NZ_CP020397.1,51,A,G,0.988571,AS219,NZ_CP020397.1,A,G,1.000000
2,AS218,NZ_CP020399.1,51,G,T,0.005556,AS219,NZ_CP020397.1,A,G,1.000000
3,AS218,NZ_CP020397.1,71,G,T,0.004762,NaN,NaN,NaN,NaN,NaN
4,AS218,NZ_CP020397.1,91,A,G,0.004255,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
930787,NaN,NaN,550170,NaN,NaN,NaN,AS219,NZ_CP020399.1,G,T,0.004098
930788,NaN,NaN,550174,NaN,NaN,NaN,AS219,NZ_CP020399.1,G,T,0.004237
930789,NaN,NaN,550201,NaN,NaN,NaN,AS219,NZ_CP020399.1,G,C,0.004785
930790,NaN,NaN,550218,NaN,NaN,NaN,AS219,NZ_CP020399.1,T,G,0.005000
930791,NaN,NaN,550246,NaN,NaN,NaN,AS219,NZ_CP020399.1,A,G,0.006369